body {
    background-color: #7851A9;  
    font-family: system-ui;
}

h1 {
    color: #FFD700; 
    text-align: center;
    font-style: italic;
    font-family: Papyrus, sans-serif;
}

ul {
    text-align: center;
}

li {
    list-style-type: none;
}

p {
    color: #FFD700; 
}

img {
    max-height: 300px;
}